.box {
  display: flex;
  justify-content: space-around;
  height: 350px;
}

.box-timer {
  display: flex;
  justify-content: center;
}

.box-segundos {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  margin: 50px 1px;
  padding: 50px;
}

.hover {
  box-shadow: 1px slateblue;
  background-color: darkblue;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

button {
  margin: 25px;
}

.circulo {
  margin-top:110px;
}
