.box {
  background-color: salmon;
  height: 350px;
}

.box-timer {
  display: flex;
  justify-content: center;
}

.atividade {
  overflow: hidden;
  border: 1px solid black;
  margin: 50px 1px;
  padding: 50px;
}
.intervalo {
  overflow: hidden;
  border: 1px solid black;
  margin: 50px 1px;
  padding: 50px;
}

.atividade:hover {
  box-shadow: 1px slateblue;
  background-color: darkblue;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.intervalo:hover {
  box-shadow: 1px slateblue;
  background-color: black;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

button {
  margin: 25px;
}