* {
  margin: 0;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.rodape {
  background-color: silver;
  position: absolute;
  bottom: 0;
  width: 100%;
}